@model ReceptsPage.ViewModels.CategoriesBarArticlesView

@{
    if (Model.BarCategoryByIdSingle.Any())
    {
        ViewData["Title"] = Model.BarCategoryByIdSingle;
    }
    else
    {
        ViewData["Title"] ="Համեղ խոհանոց";
    }
}


<div class="row">
    <h2 class="text-center category_title">@Model.BarCategoryByIdSingle</h2>

    @foreach (var entity in Model.BarArticlesRepozitory.Cast<BarArticleP>())
    {

        <div class="col-md-6 left-up-col">


            <div class=col-md-12>
                <h5 class="text-right" style="color:cadetblue;margin:0;">@entity.DateAdded.Value.ToString("yyyy-MM-dd HH:mm tt")</h5>
            </div>
            <div class="text-center"> <a asp-area="" asp-controller="BarArticleP" asp-action="SinglePageBarArticleP" asp-route-id="@entity.BarArticleId" class="text-center title_article_style">@entity.Title</a></div>
            <div class="content_left_up_text text-descr-gen">
                <p>@Html.Raw(entity.Description)</p>
            </div>


            <div class="content_left_up_comment content-justify">
                <div class="content_left_up_star">

                </div>
            </div>
            <div class="content-justify img-gen-size" style="height:236px;">
                <a asp-area="" asp-controller="BarArticleP" asp-action="SinglePageBarArticleP" asp-route-id="@entity.BarArticleId" class="text-center">
                    @{var imgsrc = "";

                        if (entity.ImgGeneral == null)
                        {
                            //imgsrc = ViewBag.imgPath;
                            imgsrc = "\\images\\default.jpg";
                        }
                        else
                        {
                            var base64 = Convert.ToBase64String(entity.ImgGeneral ?? new byte[0]);
                            imgsrc = string.Format("data:image/jpeg;base64,{0}", base64);
                        }
                    }
                    <img src="@imgsrc" alt="Առանց նկար" />
                </a>

            </div>
            @if (User.IsInRole("admin"))
            {
                <div style="margin:3px;" class="text-center"> <a asp-area="" style="font-size:14px;color:#fff" asp-controller="BarArticleP" asp-action="BarArticlesEdit" asp-route-id="@entity.BarArticleId" class="text-center btn btn-primary">Փոփոխել</a></div>
            }


            
        </div>

    }
</div>
<nav aria-label="ArticleP Padding">
    @if (Model.BarArticlesRepozitory.Any())
    {
        <pager class="pagination" list="@Model.BarArticlesRepozitory" asp-action="Categories" asp-controller="BarArticleP" asp-route-query="@Model.BarArticlesRepozitory" />
    }
</nav>