
@using System
@using PagedList.Core;


@model IPagedList<BarArticleP>

@{
    ViewData["Title"] = "Հաստատել";
}



<div class="row">
    <h4></h4>
    <h4 style="background: #88d622; padding: 7px; border-radius: 9px;">Օգտատերերի կողմից ցանկում ավելացնելու համար</h4>
    @foreach (BarArticleP entity in Model)
    {
        <div class="col-md-6 left-up-col ">
            <div class=col-md-12>
                <h5 class="text-right" style="color:cadetblue;margin:0;">@entity.DateAdded.Value.ToString("yyyy-MM-dd HH:mm tt")</h5>
            </div>
            <div class="text-center"> <a asp-area="" asp-controller="BarArticleP" asp-action="SinglePageBarArticleP" asp-route-id="@entity.BarArticleId" class="text-center title_article_style">@entity.Title</a></div>


            <div class="content_left_up_text text-descr-gen">
                <p>@Html.Raw(entity.Description)</p>
            </div>
            <div class="content_left_up_type content-justify">
                <div id="new_year_type">
                    <p>
                        @{string cat = "";
                            if (entity.BarCategoryId != null)
                            {
                                int id = (int)entity.BarCategoryId;
                                if (id != 17)
                                {
                                    cat = entity.BarCategory.Name;
                                }<a asp-area="" asp-controller="BarArticleP" asp-action="Categories" asp-route-id="@id">
                                    @cat
                                </a>
                            }

                        }
                    </p>
                </div>


            </div>

            <div class="content_left_up_comment content-justify">
                <div class="content_left_up_star">

                </div>
            </div>
            <div class="content-justify img-gen-size">
                @{var imgsrc = "";

                    if (entity.ImgGeneral == null)
                    {
                        //imgsrc = ViewBag.imgPath;
                        imgsrc = "\\images\\default.jpg";
                    }
                    else
                    {
                        var base64 = Convert.ToBase64String(entity.ImgGeneral ?? new byte[0]);
                        imgsrc = string.Format("data:image/jpeg;base64,{0}", base64);
                    }
                }
                <img src="@imgsrc" alt="Առանց նկար" />

            </div>

            @if (User.IsInRole("admin"))
            {<div style="margin-top:5px" class="row">
                    <div class="text-center col-xs-4"> <a asp-area="" style="font-size:14px;color:#fff" asp-controller="BarArticleP" asp-action="BarArticlesEdit" asp-route-id="@entity.BarArticleId" class="text-center btn btn-primary">Փոփոխել</a></div>
                    <div class="text-center col-xs-4">
                        <form asp-controller="barArticleP" asp-action="BarArticlesConfirmByAdmin" asp-route-id="@entity.BarArticleId" method="post">
                            <input type="submit" style="font-size:14px;color:#fff" value="Հաստատել" class="text-center btn btn-default">
                        </form>
                    </div>
                    <div class="text-center col-xs-4"> <a asp-area="" style="font-size:14px;color:#fff" asp-controller="BarArticleP" asp-action="ArticlesDelete" asp-route-id="@entity.BarArticleId" class="text-center btn btn-danger">Ջնջել</a></div>
                </div>
                <div class="text-justify" style="margin-top:10px"><p>Ավելացվել է  <a asp-area="" asp-controller="Users" asp-action="Edit" asp-route-id="@entity.AppUser.Id" class="text-center  ">@entity.AppUser.Email</a> օգտատիրոջ կողմից,,որի ID=@entity.AppUser.Id</p></div>
            }

        </div>
    }

</div>
<nav aria-label="ArticleP Padding">
    @if (Model.Any())
    {
        <pager class="pagination" list="@Model" asp-action="IndexNonConfirm" asp-controller="BarArticles" asp-route-query="@Model" />
    }
</nav>