@model ReceptsPage.ViewModels.ImageArticlePage

@{
    
        ViewData["Title"] = "Նկարներ";
  
}


<div class="row">


    @foreach (var entity in Model.ArticleImage.Cast<ArticleP>())
    {
        <div class="left-up-col col-lg-4 ">

            <div class="content-justify img-gen-size">
                @{if (entity.ImgGeneral != null)
                    {
                        var base64 = Convert.ToBase64String(entity.ImgGeneral);
                        var imgsrc = string.Format("data:image/jpeg;base64,{0}", base64);
                        <a asp-area="" asp-controller="Articles" asp-action="SinglePAge" asp-route-id="@entity.ArticleId" class="text-center"> <img class="img-thumbnail" src="@imgsrc" alt="Alternate Text11" title="@entity.Title" /></a>
                    }
                }
            </div>
 

        </div>
    }
</div>
<nav aria-label="ArticleP Padding">

    
    <pager class="pagination" list="@Model.ArticleImage" asp-action="PageArticleImage" asp-controller="BarArticleP" asp-route-query="@Model.ArticleImage" />
   
</nav>