@model ReceptsPage.IdentityViewModels.LoginViewModel
@{
      ViewData["Title"] = "Մուտք";
}
<div class="row">
    <div class="col-md-6">
        <form method="post" asp-controller="Account" asp-action="Login"
                    asp-route-returnUrl="@Model.ReturnUrl">
            <h2>Մուտք գործել </h2><hr />
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <label asp-for="Email" style="text-align:left"></label>
                <input asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
            <div>
                <label asp-for="Password" style="text-align:left"></label>
                <input asp-for="Password" />
                <span asp-validation-for="Password"></span>
                <a asp-action="ForgotPassword"><h6>Մոռացե՞լ եք գաղտնաբառը</h6></a>
            </div>
           
            <div>
                <label asp-for="RememberMe"></label>
                <input asp-for="RememberMe" />
            </div>
            <div>
                <input class="btn btn-default" type="submit" value="Մուտք" />
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <h2>Արագ մուտք հետևյալի միջոցով</h2><hr />
        <form method="post" asp-action="ExternialLogin" asp-route-returnUrl="@Model.ReturnUrl">
            @{ if (Model.ExternalLogins.Count != 0)
                {

                    @foreach (var item in Model.ExternalLogins)
                    {
                        <button type="submit" class="btn btn-primary" name="provider" value="@item.Name" title="Մուտք գործել @item.DisplayName-ի միջոցով">
                            @item.DisplayName
                        </button>
                        <span style="margin-left:20px;"></span>
                    }

                }
                else
                {

                    <button type="submit" class="btn btn-primary" name="provider" value="Google" title="Մուտք գործել Google-ի միջոցով">
                       Google
                    </button>
                    <span style="margin-left:20px;"></span>

                    <button type="submit" class="btn btn-primary" name="provider" value="Facebook" title="Մուտք գործել Facebook-ի միջոցով">
                        Facebook
                    </button>
                    <span style="margin-left:20px;"></span>

                }
            }

        </form>

    </div>
</div>
