@model Car






<div class="col-lg-4">
    <img class="img-thumbnail" src="@Model.Img" alt="@Model.Name" />
    <h3>@Model.Name</h3>
    <p>@Model.ShortDesc</p>
    @{CultureInfo us = new CultureInfo("en-US");}
    <p>Գինը @Model.Price.ToString("c", us)</p>
    <p><a class="btn btn-warning" href="#">Մանրամասն</a></p>
</div>