@model ArticleP

<div class="col-md-6 left-up-col">
    <div class="text-center"> <a asp-area="" asp-controller="Articles" asp-action="SinglePage" asp-route-id="@Model.ArticleId" class="text-center">@Model.Title</a></div>
    <div class="content_left_up_text text-descr-gen">
        <p>@Model.Description</p>
    </div>
    <div class="content_left_up_type content-justify">
        <div id="new_year_type">
            <p>
                @{string cat = "";
                    if (Model.SubCategoryId != null)
                    {
                        int id = (int)Model.SubCategoryId;
                        if (id != 17)
                        {
                            cat = ViewBag.Name.SubCategoryByIdSingle(id);
                        }<a asp-area="" asp-controller="Articles" asp-action="Categories" asp-route-id="@id">
                            @cat
                        </a>
                    }

                }
            </p>
        </div>


    </div>

    <div class="content_left_up_comment content-justify">
        <div class="content_left_up_star">

        </div>
    </div>
    <div class="content-justify img-gen-size">
        <a asp-area="" asp-controller="Articles" asp-action="SinglePage" asp-route-id="@Model.ArticleId" class="text-center">
            @{
                var base64 = Convert.ToBase64String(Model.ImgGeneral);
                var imgsrc = string.Format("data:image/jpeg;base64,{0}", base64);
            }
            <img src="@imgsrc" alt="Alternate Text11" />
        </a>
    </div>
</div>