@model IEnumerable<ReceptsPage.ModelIdentity.AppUser>
@{
    ViewBag.Title = "Օգտատերերի ցուցակ";
}

<a asp-action="Register" asp-controller="Account"><h1>Ավելացնել օգտատեր</h1></a>

<table class="table">
    <tr><th>Email</th><th>Год</th><th></th></tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.Year</td>
            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-controller="Users" asp-action="Edit" asp-route-id="@user.Id">ՓՈփխել</a>
                    <a class="btn btn-sm btn-primary"asp-controller="Users"  asp-action="ChangePassword" asp-route-id="@user.Id">
                        Փոփոխել գաղտնաբառը</a>
                        <button type="submit" class="btn btn-sm btn-danger">
                            Ջնջել
                        </button>
                </form>
            </td>
        </tr>
    }
</table>