@model AdminRoleViewModel
@{
    ViewData["Title"] = "Admin ALl";
}
<div class="row">
    <div class="col-sm-2 "><h3><a class="btn btn-default" asp-action="AdminEdit" asp-controller="Roles">Ադմիններ</a></h3></div>
    <div class="col-sm-2 "><h3><a class="btn btn-default" asp-action="Roles" asp-controller="Roles">Պաշտոններ</a></h3></div>
    <div class="col-sm-2 "><h3><a class="btn btn-default" asp-action="EditAll" asp-controller="Roles">"User" բոլորի համար</a></h3></div>
</div>
<h2>Կարգավիճակ "Admin"-ի համար (Ընդհանուր <i>@Model.AdminUsers.Count</i>)</h2>
<script>
    function toggle(source) {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i] != source)
                checkboxes[i].checked = source.checked;
        }
    }
</script>

<br />

<form asp-action="AdminEdit" asp-controller="Roles" method="post">

    <table>
        <tr>
            <td></td>
            <td style="padding:6px 15px 6px 6px"></td>

            <td style="padding:6px 15px 6px 6px">Ընտրել բոլորը</td>
        </tr>
        <tr>
            <td style=" padding: 6px 15px 6px 6px; ">ID</td>
            <td style="padding:6px 15px 6px 6px;">
                Email
            </td>

            <td style="padding:6px 15px 6px 6px;text-align: center"><input type="checkbox" checked onclick="toggle(this);" /></td>
        </tr>

        @foreach (var item in Model.AdminUsers)
        {

            <tr>
                <td style="padding:6px 15px 6px 6px">
                    <b>@item.Id</b>

                </td>
                <td>
                    @item.Email
                </td>

                <td style="padding:6px 15px 6px 6px;text-align: center">
                    <input type="checkbox" name="userId" value="@item.Id" @(Model.userRoles.FirstOrDefault(u => u.Id == item.Id).UserRoles.Contains("admin") ? "checked=checked" : "") />

                </td>
            </tr>

        }

    </table>
    <br />
    <input type="hidden" name="tiv" value="1" />


    <button type="submit" class="btn btn-default">Պահպանել</button>
    <a class="btn btn-primary" asp-action="AdminEdit" asp-controller="Roles">Չեղարկել</a>
</form>